# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/jekyllbuild/
/.jekyll-metadata
/.brackets.json
/halfapx.docx
/ideas
/img/portfolio/themes/preview.psd
