<hr>
<p>title: Portfolio
group: navigation-04
lang: en
id: portfolio
description: My Portfolio</p>
<h2 id="permalink-en-portfolio-">permalink: /en/portfolio/</h2>
<div class="portfolio-wrapper" id="container">
    {% assign portfolio = site.portfolio | sort: &quot;date&quot; | reverse | where:&quot;lang&quot;, page.lang %}
    {% for item in portfolio %}
        <div class="theme-wrapper mix {{ item.category }}">
            {% if item.title or item.item-preview %}
                <a href="{{ item.url | remove: '/index.html' }}">
                    {% if item.item-preview%}
                        {% if item.item-preview contains &#39;.png&#39;%}
                            {% assign featimg = item.item-preview | replace: &#39;.png&#39;, &#39;&#39; %}
                            <img src="{{ site.img_dir }}/{{ featimg | append: '-450x450.png' }}" alt="{{ image.alttext }}">
                        {% elsif item.item-preview contains &#39;.jpg&#39;%}
                            {% assign featimg = item.item-preview | replace: &#39;.jpg&#39;, &#39;&#39; %}
                            <img src="{{ site.img_dir }}/{{ featimg | append: '-450x450.jpg' }}" alt="{{ image.alttext }}">
                        {% endif %}
                    {% endif %}
                    {% if item.title %}
                        <h1>{{ item.title }}</h1>
                    {% endif %}
                </a>
            {% endif %}
        </div>
    {% endfor %}
</div>
