---
title: Procreate Brushes
group: navigation-05
lang: de
id: brushes
description: All of my Procreate Brushes
enable-comments: yes
permalink: /de/procreate-brushes/
---
{% assign new = site.data.brushes | where:"cat", "new" %}
{% assign premium = site.data.brushes | where:"cat", "premium" %}
{% assign free = site.data.brushes | where:"cat", "free" %}
{% assign special = site.data.brushes | where:"cat", "special" %}
{% assign custom = site.data.brushes | where:"cat", "custom" %}
{% assign favorite = site.data.brushes | where:"cat", "favorite" %}
{% assign essential = site.data.brushes | where:"cat", "essential" %}
{% assign nonlettering = site.data.brushes | where:"cat", "nonlettering" %}
{% assign single = site.data.brushes | where:"type", "single" %}
{% assign set = site.data.brushes | where:"type", "set" %}
{% assign all = site.data.brushes %}

{% for brush in single %}
    {% assign singles = singles | plus: brush.count %}
{% endfor %}

{% for brush in set %}
    {% assign inset = inset | plus: brush.count %}
{% endfor %}

{% for brush in all %}
    {% assign total = total | plus: brush.count %}
{% endfor %}

{% for brush in premium %}
    {% assign premiumtotal = premiumtotal | plus: brush.count %}
{% endfor %}

{% for brush in free %}
    {% assign freetotal = freetotal | plus: brush.count %}
{% endfor %}

{% for brush in special %}
    {% assign specialtotal = specialtotal | plus: brush.count %}
{% endfor %}

{% for brush in custom %}
    {% assign customtotal = customtotal | plus: brush.count %}
{% endfor %}

{% for brush in favorite %}
    {% assign favoritetotal = favoritetotal | plus: brush.count %}
{% endfor %}

{% for brush in essential %}
    {% assign essentialtotal = essentialtotal | plus: brush.count %}
{% endfor %}

{% for brush in nonlettering %}
    {% assign nonletteringtotal = nonletteringtotal | plus: brush.count %}
{% endfor %}

<h2>Hallöchen!</h2>
<p>Hier findest du alle meine Procreate Pinsel, die Buttons unten helfen dir dabei zu navigieren und zeigen dir ausserdem an wie viele Pinsel in der jeweiligen Kategorie zur Verfügung stehen.</p>

<p>Klicke auf das Bild um das Preview zu vergrössern.</p>

<p>Scrolle nach unten für ein Anleitungsvideo und links zu Posts zum Thema.</p>

<h2>Statistik</h2>
<p>Total findest du hier <b>{{ total }}</b> Pinsel.</p>
<p><b>{{ singles }}</b> davon sind einzeln verfügbar.</p>
<p><b>{{ inset }}</b> sind in <b>{{ set.size }}</b> verschiedenen Sets verfügbar.</p>
<p><b>{{ free.size }}</b> dieser <b>{{ total }}</b> Pinsel sind komplett kostenlos.</p>

<div class="brush-nav bigger">
    <span class="toggle-tab active" data-toggles-tab="new">new [{{ new.size}}]</span>
    <span class="toggle-tab" data-toggles-tab="all">all [{{ total }}]</span>
    <span class="toggle-tab" data-toggles-tab="premium">premium [{{ premiumtotal }}]</span>
    <span class="toggle-tab" data-toggles-tab="free">free [{{ freetotal }}]</span>
    <span class="toggle-tab" data-toggles-tab="special">special [{{ specialtotal }}]</span>
    <span class="toggle-tab" data-toggles-tab="custom">custom [{{ customtotal }}]</span>
    <span class="toggle-tab" data-toggles-tab="favorite">favorite [{{ favoritetotal }}]</span>
    <span class="toggle-tab" data-toggles-tab="essential">essential [{{ essentialtotal }}]</span>
    <span class="toggle-tab" data-toggles-tab="nonlettering">nonlettering [{{ nonletteringtotal }}]</span>
    <span class="toggle-tab" data-toggles-tab="single">single [{{ singles }}]</span>
    <span class="toggle-tab" data-toggles-tab="set">set [{{ inset }}]</span>
</div>
<div class="brush-tab-wrapper bigger">
    <div class="brush-tab visible" id="new">
        <div class="box">
            {% for brush in new %}
            <div class="mix {{ brush.cat | join: ' ' }}">
                <a href="/procreate-brushes/img/{{ brush.img }}.jpg" data-lightbox="true">
                    <img src="/procreate-brushes/img/{{ brush.img }}.jpg" alt="{{ brush.img }}">
                </a>
                <a href="{{ brush.url }}" download class="noblank">
                    <i class="fa fa-download"></i>
                    Download
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="brush-tab" id="all">
        <div class="box">
            {% for brush in all %}
            <div class="mix {{ brush.cat | join: ' ' }}">
                <a href="/procreate-brushes/img/{{ brush.img }}.jpg" data-lightbox="true">
                    <img src="/procreate-brushes/img/{{ brush.img }}.jpg" alt="{{ brush.img }}">
                </a>
                <a href="{{ brush.url }}" download class="noblank">
                    <i class="fa fa-download"></i>
                    Download
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="brush-tab" id="premium">
        <div class="box">
            {% for brush in premium %}
            <div class="mix {{ brush.cat | join: ' ' }}">
                <a href="/procreate-brushes/img/{{ brush.img }}.jpg" data-lightbox="true">
                    <img src="/procreate-brushes/img/{{ brush.img }}.jpg" alt="{{ brush.img }}">
                </a>
                <a href="{{ brush.url }}" download class="noblank">
                    <i class="fa fa-download"></i>
                    Download
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="brush-tab" id="free">
        <div class="box">
            {% for brush in free %}
            <div class="mix {{ brush.cat | join: ' ' }}">
                <a href="/procreate-brushes/img/{{ brush.img }}.jpg" data-lightbox="true">
                    <img src="/procreate-brushes/img/{{ brush.img }}.jpg" alt="{{ brush.img }}">
                </a>
                <a href="{{ brush.url }}" download class="noblank">
                    <i class="fa fa-download"></i>
                    Download
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="brush-tab" id="special">
        <div class="box">
            {% for brush in special %}
            <div class="mix {{ brush.cat | join: ' ' }}">
                <a href="/procreate-brushes/img/{{ brush.img }}.jpg" data-lightbox="true">
                    <img src="/procreate-brushes/img/{{ brush.img }}.jpg" alt="{{ brush.img }}">
                </a>
                <a href="{{ brush.url }}" download class="noblank">
                    <i class="fa fa-download"></i>
                    Download
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="brush-tab" id="custom">
        <div class="box">
            {% for brush in custom %}
            <div class="mix {{ brush.cat | join: ' ' }}">
                <a href="/procreate-brushes/img/{{ brush.img }}.jpg" data-lightbox="true">
                    <img src="/procreate-brushes/img/{{ brush.img }}.jpg" alt="{{ brush.img }}">
                </a>
                <a href="{{ brush.url }}" download class="noblank">
                    <i class="fa fa-download"></i>
                    Download
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="brush-tab" id="favorite">
        <div class="box">
            {% for brush in favorite %}
            <div class="mix {{ brush.cat | join: ' ' }}">
                <a href="/procreate-brushes/img/{{ brush.img }}.jpg" data-lightbox="true">
                    <img src="/procreate-brushes/img/{{ brush.img }}.jpg" alt="{{ brush.img }}">
                </a>
                <a href="{{ brush.url }}" download class="noblank">
                    <i class="fa fa-download"></i>
                    Download
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="brush-tab" id="essential">
        <div class="box">
            {% for brush in essential %}
            <div class="mix {{ brush.cat | join: ' ' }}">
                <a href="/procreate-brushes/img/{{ brush.img }}.jpg" data-lightbox="true">
                    <img src="/procreate-brushes/img/{{ brush.img }}.jpg" alt="{{ brush.img }}">
                </a>
                <a href="{{ brush.url }}" download class="noblank">
                    <i class="fa fa-download"></i>
                    Download
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="brush-tab" id="nonlettering">
        <div class="box">
            {% for brush in nonlettering %}
            <div class="mix {{ brush.cat | join: ' ' }}">
                <a href="/procreate-brushes/img/{{ brush.img }}.jpg" data-lightbox="true">
                    <img src="/procreate-brushes/img/{{ brush.img }}.jpg" alt="{{ brush.img }}">
                </a>
                <a href="{{ brush.url }}" download class="noblank">
                    <i class="fa fa-download"></i>
                    Download
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="brush-tab" id="single">
        <div class="box">
            {% for brush in single %}
            <div class="mix {{ brush.cat | join: ' ' }}">
                <a href="/procreate-brushes/img/{{ brush.img }}.jpg" data-lightbox="true">
                    <img src="/procreate-brushes/img/{{ brush.img }}.jpg" alt="{{ brush.img }}">
                </a>
                <a href="{{ brush.url }}" download class="noblank">
                    <i class="fa fa-download"></i>
                    Download
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="brush-tab" id="set">
        <div class="box">
            {% for brush in set %}
            <div class="mix {{ brush.cat | join: ' ' }}">
                <a href="/procreate-brushes/img/{{ brush.img }}.jpg" data-lightbox="true">
                    <img src="/procreate-brushes/img/{{ brush.img }}.jpg" alt="{{ brush.img }}">
                </a>
                <a href="{{ brush.url }}" download class="noblank">
                    <i class="fa fa-download"></i>
                    Download
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<h1>Installation</h1>
<div class="video">
    <iframe src="https://www.youtube.com/embed/V8pBr5lYOmw" frameborder="0" allowfullscreen></iframe>
</div>
