doctype html
html(lang="{{page.lang}}")
    include includes/head.jade

    body.page.post(class="{% if page.bodyclass %}{{ page.bodyclass }}{% endif %} {{ page.lang | prepend: 'lang-' }}")
        include includes/nav.jade
        header.header
            .container
                h1
                    {% if page.lang == "de" %}
                    a(href="/") ½ a px.
                    {% else %}
                    a(href="/en/") ½ a px.
                    {% endif %}
            // .container end
        // header end

        div(class="triangle_reverse_container")
            svg(version="1.1", viewBox="0 0 770 63", class="triangle_reverse")
                path(d="M 769.0766,61.53043 0.5,61.629255 0.55974186,0.520315 C 0.23440393,30.221569 359.00793,14.210549 384.80814,45.029889 412.33508,14.210549 769.38188,30.328689 769.04308,0.5 z")

        .wrapper
            section.main_container
                .container
                    article
                        .title
                            div
                                h1 {{ page.title }}
                                {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
                        .meta
                            {% if page.livesite %}
                            span.livesite livesite: #[a(href="{{ page.livesite }}") {{ page.livesite | remove: 'http://' | remove: 'https://' }}]
                            {% endif %}
                        .content {{ content }}
                            {% include collection_navigator.html %}
                    // article end
                // .container end
            // section end
        // .wrapper end
        include includes/footer.jade
        script(src="/js/build/main.min.js")
    // body end
// html end
