doctype html
html(lang="{{page.lang}}")
    include includes/head.jade

    body.page.post(class="{% if page.bodyclass %}{{ page.bodyclass }}{% endif %} {{ page.lang | prepend: 'lang-' }}")
        include includes/nav.jade
        include includes/header.jade

        .wrapper
            section.main_container
                .container
                    article
                        .title
                            div
                                h1 {{ page.title }}
                                {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
                            .date 
                                span.month {{ page.date | date: "%B" | slice: 0, 3 }}
                                span.day {{ page.date | date: "%d" }}
                                span.year {{ page.date | date: "%Y" }}
                        .meta
                            span.date {% include date.html %}
                                {% if post.tags %} &nbsp;&bull;&nbsp;{% endif %}
                            {% if page.tags %}
                            span.tags
                                 i.fa.fa-tags
                                 {% for tag in page.tags limit:10 offset:0 %} <a href="{{ site.tag_dir}}/{{ tag }}">{{ tag }}</a> {% endfor %}
                            {% endif %}
                        .content {{ content }}
                        
                        {% include disqus.html %}
                        
                        {% assign  document = site.posts | sort: "date" | reversed | where:"lang", page.lang %}
                        {% for links in document %}
                        {% if links.title == page.title %}
                        {% unless forloop.first %}
                        {% assign prevurl = prev.url %}
                        {% assign prevtitle = prev.title %}
                        {% endunless %}
                        {% unless forloop.last %}
                        {% assign next = document[forloop.index] %}
                        {% assign nexturl = next.url %}
                        {% assign nexttitle = next.title %}
                        {% endunless %}
                        {% endif %}
                        {% assign prev = links %}
                        {% endfor %}

                        {% if prevurl or nexturl %}
                        .pagination
                            {% if prevurl %}<a href="{{prevurl}}" class="prev">{{ prevtitle}}</a>{% endif %}                    
                            {% if nexturl %}<a href="{{nexturl}}" class="next">{{nexttitle}}{% endif %}
                        {% endif %}
                    // article end
                // .container end
            // section end
        // .wrapper end
        include includes/footer.jade
        script(src="/js/build/main.min.js")
    // body end
// html end
