footer
    .svg_wrapper
        svg(class="triangle_up", version="1.1", viewBox="0 0 769.4693 45.8125")
            path(d="M 0.49749557,0.533884 C 0.17215764,30.235138 358.94568,14.224118 384.74589,45.043458 412.27283,14.224118 769.31963,30.342258 768.98083,0.513569 z")
    .foot
        .container
            .left
                span.copyright &copy; content by 1/2 a px.
                &nbsp;&middot;&nbsp;
                span.year 2015
                //- &nbsp;&middot;&nbsp;
                //- a(href="#") Impressum
            .right
                a(href="https://github.com/mynimi") 
                    i.fa.fa-github
                a(href="http://codepen.io/mynimi/")
                    i.fa.fa-codepen
                &nbsp;
                span.backtotop back to top
        // .container end
    // .foot end
// footer end
{% include analytics.html %}