head
    meta(charset='UTF-8')
    title {{ site.name }}{% if page.title %} - {{ page.title }} {% endif%}
    {% if page.description %}
    meta(name="description" content="{{ page.description }}")
    {% endif %}
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='Myriam Frisano')
    link(rel='stylesheet', href='/css/main.css')
    link(rel="alternate", type="application/rss+xml", title="{{ site.name }}", href="{{ site.url | replace: '//', '/' }}/feed.xml")            
// head end
