nav.open
    .menu.container
        .left.responsive
            span.toggle
                i.fa.fa-close
            {% if page.lang == "de" %}
            a(href="/") Home
            {% else %}
            a(href="/en") Home
            {% endif %}
            {% assign pages_list = site.pages | sort:"group" | where:"lang", page.lang %}
            {% assign group = 'navigation' %}
            {% include pages_list.html %}
            a(href="https://www.etsy.com/shop/halfapx") Shop
            // .responsive end
        .center
            span.toggle
                | Menu
        .right
            {% assign pages=site.pages | where:"id", page.id | sort: 'path' %}{% for page in pages %}<a href="{{ page.url | replace: "index.html", "" }}" class="{{ page.lang }}">{{ page.lang }}</a>{% endfor %}      
            {% assign posts=site.posts | where:"name", page.name %}{% for post in posts %}<a href="{{ post.url | replace: "index.html", "" }}" class="{{ post.lang }}">{{ post.lang }}</a>{% endfor %}    
    // .menu end
// nav end
