{% if site.baseurl != '' or null %}
    {% assign base = site.baseurl %}
{% else %}
    {% assign base = '' %}
{% endif %}

<div class="masonry">
    {% for gallery in page.gallery %}
        {% for image in gallery.images %}
            <a href="{{ site.img_dir | prepend: base }}/{{ image.filename }}" data-imagelightbox="f" class="noline">
                {% if image.filename contains '.png'%}
                    {% assign thumb = image.filename | replace: '.png', '' %}
                    <img src="{{ site.img_dir | prepend: base }}/{{ thumb | append: '-450x450.png' }}" alt="{{ image.alttext }}">
                {% elsif image.filename contains '.jpg'%}
                    {% assign thumb = image.filename | replace: '.jpg', '' %}
                    <img src="{{ site.img_dir | prepend: base }}/{{ thumb | append: '-450x450.jpg' }}" alt="{{ image.alttext }}">
                {% elsif image.filename contains '.gif'%}
                    {% assign thumb = image.filename | replace: '.gif', '' %}
                    <img src="{{ site.img_dir | prepend: base }}/{{ thumb | append: '-450x450.jpg' }}" alt="{{ image.alttext }}">
                {% endif %}
            </a>
        {% endfor %}
    {% endfor %}
</div>
