footer
    .foot
        .container
            .left
                span.copyright &copy; content by 1/2 a px.
                | &nbsp;&middot;&nbsp;
                span.year 2017
                //- &nbsp;&middot;&nbsp;
                //- a(href="#") Impressum
            .right
                span.backtotop back to top
        // .container end
    // .foot end
// footer end
| {% include analytics.html %}
