head
    meta(charset='UTF-8')
    title {{ site.name }}{% if page.title %} - {{ page.title }} {% endif%}
    {% if page.description %}
    meta(name="description" content="{{ page.description }}")
    {% endif %}
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='Myriam Frisano')
    link(rel='stylesheet', href='/css/main.css')
    link(rel="alternate", type="application/rss+xml", title="{{ site.name }}", href="{{ site.url | replace: '//', '/' }}/feed.xml")
    meta(name="google-site-verification", content="w1Apie0u6V6tgGbStKa-TVurtBmWtf3dHe5Xx_LQFtE")
    meta(name="p:domain_verify" content="10355c6a8a6b148ba5a418457b9c7c58")
    {% if page.mathjax %}
    include mathjaxconf.html
    script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML")
    {% endif %}
// head end
