footer {
    position: relative;
    padding: 30px 0 10px;
    .foot {
        background: $footer-bg;
        color: $footer-color;
        width: 100%;
        a {
            color: $footer-link-color;
            &:hover {
                color: $footer-hover-color;
                opacity: .8;
            }
        }
        .backtotop {
            &.hidden {
                display: inline-block;
                opacity: 1;
            }
            &:hover {
                opacity: .8;
            }
        }
        .fa {
            margin-right: 10px;
        }
        .container {
            @include flexbox(row, wrap, space-between, center);
        }
    }
}
