iframe{
    margin: 20px auto !important;
}

.pagination{
    border-top: $line;
    border-bottom: $line;
    padding: 10px 0;
    @include flexbox(row, nowrap, space-between, center);

    .prev,
    .next{
        width: 40%;
        position: relative;
    }
    .prev{
        text-align: left;
        margin-left: 10px;
        padding-left: 10px;
        border-left: $line;

        &:before{
            content: '';
            @include triangle(7px, left, $lightgray);
            position: absolute;
            right: calc(100% + 10px);
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .next{
        text-align: right;
        margin-right: 10px;
        padding-right: 10px;
        border-right: $line;

        &:after{
            content: '';
            @include triangle(7px, right, $lightgray);
            position: absolute;
            left: calc(100% + 10px);
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.tags a,
.tag {
    &:after {
        content: ",";
    }

    &:last-of-type:after{
        content: "";
    }

}

.btn {
    color: $link-color;
    border-top: 1px solid currentColor !important;
    border-bottom: 1px solid currentColor !important;
    background: transparent;
    padding: 7px 13px;
    line-height: 2.5;
    // margin: 7px;

    &:hover {
        color: $link-hover-color;
    }
}

input,
textarea {
    font-family: $main-font;
    font-size: $root-font-size;
    font-weight: $main-font-weight;

    &.btn{
        line-height: 1.5;
        border-left-color: transparent;
        border-right-color: transparent;
        cursor: pointer;
    }
}

// Tables
table,
th,
td {
    border: none;
}

table {
    width: 100%;
    display: table;
    tr {
        border-bottom: 1px solid $table-border-color;
    }
    tbody tr:nth-child(odd) {
        background-color: $table-striped-color;
    }
    tbody tr {
        transition: background-color .25s ease;
        &:hover {
            background-color: darken($table-striped-color, 50%);
        }
    }
}

thead {
    border-bottom: 3px solid $table-border-color;
}

td,
th {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}

// Responsive Table
@media screen and (max-width: $table-collapse) {
    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        display: block;
        position: relative;
        th, td {
            margin: 0;
            vertical-align: top;
        }
        th {
            text-align: left;
        }
        thead {
            display: block;
            float: left;
            tr {
                display: block;
                padding: 0 10px 0 0;
                th::before {
                    content: "\00a0";
                }
            }
        }
        tbody {
            display: block;
            width: auto;
            position: relative;
            overflow-x: auto;
            white-space: nowrap;
            tr {
                display: inline-block;
                vertical-align: top;
            }
        }
        th {
            display: block;
            text-align: right;
        }
        td {
            display: block;
            min-height: 1.25em;
            text-align: left;
        }
        tr {
            padding: 0 10px;
        }
        /* sort out borders */

        thead {
            border: 0;
            border-right: 1px solid $table-border-color;
        }
        th {
            border-bottom: 0;
            border-left: 0;
        }
        td {
            border-left: 0;
            border-right: 0;
            border-bottom: 0;
        }
        tr {
            border: 0;
        }
        tbody tr {
            border-right: 1px solid $table-border-color;
        }
    }
}

.highlighter-rouge{
    .highlight{
        @include center();
        max-width: $container-max-width;
        width: 80%;
    }
}

p + ,
iframe + {
    h2,
    h3,
    h4,
    h5,
    h6{
        margin-top: 20px;
    }

    h1{
        margin-top: 50px;
    }
}

.title h1{
    border: 0 solid transparent !important;
}


.post-header{
    width: 120%;
    max-width: 1920px;
    transform: translateX(-50%);
    position: relative;
    left: 50%;
    text-align: center;

    .title{
        font-size: 1.2em;

        /* .date{
            width: 70px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            text-align: center;
            font-size: 0.6em;
            margin-bottom: 10px;
            margin-top: 15px;
        }

        .month{
            font-weight: light;
            text-transform: uppercase;
            display: block;
            width: 100%;
            background: $main-color;
            color: $background-color;
        }

        .day{
            display: block;
            font-size: 2em;
            font-family: $code-font;
            color: $link-color;
            line-height: 1;
            padding: 5px 0px;
            font-weight: bold;
        }

        .year{
            display: block;
            margin-top: 0px;
            line-height: 1.1;
        } */
    }

    .meta{
        opacity: .8;
        margin: 30px 0;
        padding: 10px 0;
        border-bottom: $line;
        border-top: $line;
        font-size: .8em;

        .date{
            margin-right: 10px;
        }
    }
}

.posts-container{
    main{
        padding-bottom: 30px;
        border-bottom: $line;
        margin-bottom: 30px;
    }
}

main{
    img,
    .bigger {
        display: block;
        margin: 20px auto !important;
        width: 120% !important;
        max-width: 1920px !important;
        transform: translateX(-50%) !important;
        position: relative !important;
        left: 50% !important;
    }

    h1, h2, h3, h4, h5, h6{
        border-bottom: $line;
        text-align: center;
    }
}

.video{
    @include paddinghack(100%, 16, 9, "iframe");
    iframe{
        padding: 0 !important;
        margin: 0 !important;
    }
}

.video-4-3{
    @include paddinghack(100%, 4, 3, "iframe");
    iframe{
        padding: 0 !important;
        margin: 0 !important;
    }
}

// contact form
.contact-form{
    margin-top: 20px;
    max-width: 500px;
    // @include center();

    input[type="text"],
    textarea{
        display: block;
        width: 100%;
        border: $line;
        margin-bottom: 10px;
    }
}

b, strong{
    font-weight: bold;
}

// ensuring that there is still some space, even after minification
.MathJax{
    padding: 0 5px !important;
}

p,
ul{
    a{
        border-bottom: $line;
    }
}

.subtitle{
    opacity: .6;
    font-family: $main-font;
}

.post-info{
    text-align: center;
    margin: 60px auto;
    &:first-of-type{
        margin-top: 0px;
    }
    p{
        text-align: left;
    }
    .meta{
        font-size: .8em;
        opacity: 0.7;
        border-top: $line;
        border-bottom: $line;
        text-align: center;
    }
}


.main_container{
    .content-wrapper{
        @include flexbox(row, wrap, space-between, flex-start);
        main{
            width: 100%;
        }
    }
}

.sidebar{
    width: 100%;

    .widget{
        border: $line;
        margin-bottom: 30px;

        h1{
            font-size: 90%;
            border-bottom: $line;
            padding: 10px;
            opacity: .9;
        }

        .content{
            padding: 10px;
        }
    }
}


// Procreate Brushes
.brush-tab-wrapper{
    width: 100%;
    .brush-tab{
        width: 100%;
        display: none;

        &.visible{
            display: block;
        }
    }
}
.brush-nav{
    span{
        border: $line;
        padding: 3px 7px;
        transition: .3s all ease;
        cursor: pointer;

        &:hover{
            background: rgba(black, .05);
        }

        &.active{
            border-color: black;
            color: black;
            cursor: default;
        }
    }
}
