.header {
    width: 100%;
    position: relative;

    .container {
        width: 100%;
        max-width: 1920px;
        padding: 30px 0;
        text-align: right;
        @include flexbox(row, wrap, center, center);
        border-bottom: $line;
    }

    a{
        width: 150px;
        display: block;
    }

    .logo-wrapper {
        @include paddinghack(100%, 1154.2257, 1157.5458, '.logo');
    }

    .page &{
        h1{
            font-family: $special-elite;
            background: $white;
            border: 5px solid $black;
            font-size: 4.5em;
            font-weight: normal;
            border-radius: 3px;
            box-sizing: border-box;
        }
    }

}

.blheader {
    background-image: url(../img/posts/bl_wall.jpg);

    svg{
        padding: 60px 0 10px;
        fill: black;
        max-width: 600px;
        width: 80%;

        .st0{
            font-family:'Fourteen Dreams';
        }
        .st1{
            font-size:168px;
        }
        .st2{
            letter-spacing:5;
        }
        .st3{
            letter-spacing:-3;
        }
    }
}
