.logo {
    transition: .3s all ease;

    a:hover & {
        opacity: .7;
    }

    .icon {
        fill: black;
        stroke: black;
        stroke-width: 20;
    }

    .name {
        font-size: 237px;
        line-height: 125%;
        font-family: $special-elite;
        text-align: start;
        fill: black;
        stroke: none;
    }

    .phonetics,
    #ring {
        fill: black;
        stroke: none;
    }
}
