- var page = { title: "Title", subtitle: "Subtitle", author: "author", description: "description", tags: ["tag1", "tag2", "tag3"] }
- var cssSource = 'style.css'

doctype html
html(lang="de")
    include includes/head.jade

    body
        span Slider here
    // body end
// html end
