// TOOLBOX COLORS
//---------------------------------------------------------------------
$white: #FDFDFD;
$black: #121212;

$darkgray: #333;
$lightgray: #ccc;

// PROJECT COLORS
//---------------------------------------------------------------------
$wine: #4F0719;
$ruby: #692032;
$green: #074f3d;

$powder-pink: #C7AFB1;

$color-1: $wine;
$color-2: $ruby;
$color-3: $green;

$color-1: #A11933;
$color-2: rgb(105, 71, 78);
$color-3: rgb(179, 124, 130);

/*
$color-1: rgb(161, 25, 51);
$color-2: rgb(67, 136, 158);
$color-3: rgb(31, 33, 51);
*/