// TOOLBOX COLORS
//---------------------------------------------------------------------
$white: #FDFDFD;
$black: #121212;

$darkgray: #333;
$lightgray: #ccc;

// PROJECT COLORS
//---------------------------------------------------------------------
$wine: #4F0719;
$ruby: #692032;
$green: #074f3d;

$powder-pink: #C7AFB1;

$color-1: $wine;
$color-2: $ruby;
$color-3: $green;

$color-1: #A11933;
$color-2: rgb(105, 71, 78);
$color-3: rgb(179, 124, 130);

// #E2D9D5
$almost-white: #e8e8e8;
$color-3: #D5B2A7;
$color-2: #8A8D91;
$color-1: #586053;
$black: #1E2023;