// TOOLBOX COLORS
//---------------------------------------------------------------------
$white: #FDFDFD;
$black: #121212;

$mediumgray: #333;
$lightgray: #ccc;

// PROJECT COLORS
//---------------------------------------------------------------------
$darkgray: #1E2023;
$darkgreen: #383F47;
$brown: #3B2A2A;
$red: #973341;
