.minimal.to-be-toggled
    h3 Demo
    .masonry
        - for(i = 1; i < 10; i++)
            a(data-imagelightbox="a", href="img/full/#{i}.jpg")
                img(src="img/thumb/#{i}.jpg")
    h3 Code
    h5 html
    pre
        code.language-markup
            | &lt;div class=&quot;masonry&quot;&gt;
            |     &lt;a data-imagelightbox=&quot;a&quot; href="img/full/1.jpg"><img src="img/thumb/1.jpg"></a>
            |     &lt;a data-imagelightbox=&quot;a&quot; href="img/full/2.jpg"><img src="img/thumb/2.jpg"></a>
            |     &lt;a data-imagelightbox=&quot;a&quot; href="img/full/3.jpg"><img src="img/thumb/3.jpg"></a>
            |     &lt;!-- und alle anderen --&gt;
            | &lt;/div&gt;
    h5 js
    pre
        code.language-js 
            | $(document).ready(function(){
            |   $('a[data-imagelightbox="a"]').imageLightbox();      
            | });
    h5 css
    pre
        code.language-css #imagelightbox {
            |     cursor: pointer;
            |     position: fixed;
            |     z-index: 10000;
            |     touch-action: none;
            | }
